<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Define logging levels -->
    <targets>
        <!-- Write logs to a file -->
        <target name="logfile" xsi:type="File" fileName="logs/logfile.log"
            layout="${longdate} | ${uppercase:${level}} | ${message} ${exception:format=tostring}" />

        <!-- Write logs to the console -->
        <target name="logconsole" xsi:type="Console"
            layout="${longdate} | ${uppercase:${level}} | ${message} ${exception:format=tostring}" />

        <!-- Target specifically for HTTP request logs -->
        <target name="httpRequestFile" xsi:type="File" fileName="logs/httpRequests.log"
            layout="${longdate} | ${uppercase:${level}} | ${message} ${exception:format=tostring}" />
        <target name="exceptionFile" xsi:type="File" fileName="logs/exceptions.log"
            layout="${longdate} | ${uppercase:${level}} | ${message} ${exception:format=tostring}" />
    </targets>

    <!-- Rules: Where logs will be written and at what level -->
    <rules>
        <!-- General logging: All Information level and above to logfile and console -->
        <logger name="*" minlevel="Information" writeTo="logfile,logconsole" />

        <!-- HTTP Request logging: Specific levels to httpRequestFile -->
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Information" writeTo="httpRequestFile" />
        <logger name="Microsoft.AspNetCore" minlevel="Information" writeTo="httpRequestFile" />

        <!-- Exception logging: Only log exceptions to the exceptions file -->
        <logger name="*" minlevel="Error" writeTo="exceptionFile" final="true" />
    </rules>
</nlog>